header {
    background-color: black;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
}

#image_header, #div_nav_header {
    display: inline-block;
}

#image_header {
    width: 20%;
}

#div_nav_header {
    vertical-align: top;
    border-bottom: 1px solid white;
    width: 38%;
}

#nav_header {
    float: right;
    width: 35%;
}

.text_nav{
    display: inline-block;
    width: 25%;
    list-style: none;
}


